.profile {
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: -40px;
}

.logo {
  max-width:230px;
  max-height:30px;
  width: auto;
  height: auto;
  padding:5px;
}

#logo_stack {
  float: center;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 50px;
  align-items: center;
  justify-content: center;
  padding:5px;
}

#header, span.credits {
  visibility: hidden;
  height: 0%;
}

